<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.awonown.chartsample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        android:label="@string/app_name"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".PracticeActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".LineChartDemoActivity"
                  android:label="@string/app_name">
        </activity>
    </application>

</manifest>
